.project-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: var(--main-text);
    margin: 100px 0px;
  }
  .project-container h1 {
    padding-bottom: 10px;
    border-bottom: 1px solid;
  }
  
  .project-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100% !important ;
    margin: 50px 25px;
    /* height: 50%; */
  }
  .outer-image-container {
    width: 50%;
  }
  .project-card img {
    height: auto;
    border-radius: 1em;
  }
  .project-info-right {
    width: 33%;
    text-align: left;
  }
  .project-info-left {
    margin-top: 10px;
    width: 50%;
    text-align: center;
  }